<!DOCTYPE html>
<html>
  <head>
    <title>CampThrill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/61cc7e35f7.js"></script>

    <script type="text/javascript">
      window.footer_background = "<%= image_url('footer_background.svg') %>";
    </script>

    <script type="text/javascript">
      window.hipcamp_logo = "<%= image_url('hipcamp_logo.svg') %>";
    </script>

    <script type="text/javascript">
      window.heart_tent_gif= "<%= image_url('heart_tent_gif.gif') %>";
    </script>

    <script type="text/javascript">
      window.tent_avatar= "<%= image_url('tent_avatar.png') %>";
    </script>

    <script type="text/javascript">
      window.hipcamp_colored_tent_logo= "<%= image_url('hipcamp_colored_tent_logo.png') %>";
    </script>
    
    <script type="text/javascript">
      window.location_icon= "<%= image_url('location_icon.png') %>";
    </script>
    
    <script type="text/javascript">
      window.mountain= "<%= image_url('mountain.png') %>";
    </script>
    
    <script type="text/javascript">
      window.pet= "<%= image_url('pet.png') %>";
    </script>
    
    <script type="text/javascript">
      window.wildlife_watching= "<%= image_url('wildlife.png') %>";
    </script>

    <script type="text/javascript">
      window.water= "<%= image_url('water.png') %>";
    </script>
    
    <script type="text/javascript">
      window.cabin= "<%= image_url('cabin.png') %>";
    </script>

    <script type="text/javascript">
      window.campfire= "<%= image_url('campfire.png') %>";
    </script>

    <script type="text/javascript">
      window.default_false= "<%= image_url('default_false.png') %>";
    </script>

    <script type="text/javascript">
      window.grill= "<%= image_url('grill.png') %>";
    </script>

    <script type="text/javascript">
      window.no_parking= "<%= image_url('no_parking.png') %>";
    </script>

    <script type="text/javascript">
      window.parking= "<%= image_url('parking.png') %>";
    </script>

    <script type="text/javascript">
      window.picnic= "<%= image_url('picnic.png') %>";
    </script>

    <script type="text/javascript">
      window.shower= "<%= image_url('shower.png') %>";
    </script>

    <script type="text/javascript">
      window.signage= "<%= image_url('signage.png') %>";
    </script>

    <script type="text/javascript">
      window.sites= "<%= image_url('sites.png') %>";
    </script>
    
    <script type="text/javascript">
      window.tent= "<%= image_url('tent.png') %>";
    </script>
    
    <script type="text/javascript">
      window.toilet= "<%= image_url('toilet.png') %>";
    </script>

    <script type="text/javascript">
      window.trash= "<%= image_url('trash.png') %>";
    </script>

    <script type="text/javascript">
      window.wifi= "<%= image_url('wifi.png') %>";
    </script>

    <script type="text/javascript">
      window.fishing= "<%= image_url('fishing.png') %>";
    </script>

    <script type="text/javascript">
      window.base_jumping= "<%= image_url('base_jumping.png') %>";
    </script>

    <script type="text/javascript">
      window.horseback_riding= "<%= image_url('horseback_riding.png') %>";
    </script>

    <script type="text/javascript">
      window.paddling= "<%= image_url('paddling.png') %>";
    </script>

    <script type="text/javascript">
      window.boating= "<%= image_url('boating.png') %>";
    </script>
    
    <script type="text/javascript">
      window.swimming= "<%= image_url('swimming.png') %>";
    </script>
    
    <script type="text/javascript">
      window.biking= "<%= image_url('biking.png') %>";
    </script>
    
    <script type="text/javascript">
      window.rock_climbing= "<%= image_url('rock_climbing.png') %>";
    </script>
    
    <script type="text/javascript">
      window.hiking= "<%= image_url('hiking.png') %>";
    </script>
    
    
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
