<!DOCTYPE html>
<html>
  <head>
    <title>CampThrill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/61cc7e35f7.js"></script>

    <script type="text/javascript">
      window.footer_background = "<%= image_url('footer_background.svg') %>";
    </script>

    <script type="text/javascript">
      window.hipcamp_logo = "<%= image_url('hipcamp_logo.svg') %>";
    </script>

    <script type="text/javascript">
      window.heart_tent_gif= "<%= image_url('heart_tent_gif.gif') %>";
    </script>

    <script type="text/javascript">
      window.tent_avatar= "<%= image_url('tent_avatar.png') %>";
    </script>

    <script type="text/javascript">
      window.hipcamp_colored_tent_logo= "<%= image_url('hipcamp_colored_tent_logo.png') %>";
    </script>
    
    <script type="text/javascript">
      window.location_logo= "<%= image_url('location_logo.png') %>";
    </script>
    
    <script type="text/javascript">
      window.mountain= "<%= image_url('mountain.png') %>";
    </script>
    
    <script type="text/javascript">
      window.pet= "<%= image_url('pet.png') %>";
    </script>
    
    <script type="text/javascript">
      window.wildlife= "<%= image_url('wildlife.png') %>";
    </script>

    <script type="text/javascript">
      window.water= "<%= image_url('water.png') %>";
    </script>
    
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
